*
    box-sizing: border-box
    padding: 0
    margin: 0
    list-style: none

$stad-1: 944px
$stad-mob: 600px

=calibri
    font-family: 'Calibri'
    font-style: italic
html
    width: 100vw
    overflow-x: hidden


.relative
    position: relative
.activeForm
    transform: translateX(0%) !important

header
    h1
        padding: 20px
    @media (max-width: $stad-1)
        font-size: 15px
    span
        padding-left: 20px

.main
    +calibri
    display: flex
    .sum-menu
        display: flex
        position: relative
        width: 0%
        transition: 0.5s
        overflow: hidden
        @media (max-width: $stad-1)
            position: fixed
            top: 0
            left: 0
            transform: translateX(-100%)
        &-block            
            position: fixed
            top: 200px
            transition: 0.5s
            width: 0%
            overflow: hidden
            display: flex
            flex-direction: column
            align-items: center
            @media (max-width: $stad-1)
                top: 0
            h3
                text-align: center
                display: block
                width: 20vw
                @media (max-width: $stad-1)
                    width: 100vw
                    padding: 20px 50px
            .sum-menu-list
                display: flex
                flex-direction: column
                width: 20vw
                @media (max-width: $stad-1)
                    align-items: center
                    width: 100vw
                &-item
                    width: 20vw
                    @media (max-width: $stad-1)
                        width: auto
            .sum-menu-close-btn
                width: 80px
                height: 3vh
                margin-top: 20px
                margin-bottom: 10px
                margin-left: 40px
                &:hover
                    cursor: pointer
                @media (max-width: $stad-1)
                    margin: 20px auto 50px auto
                       
            
    .active
        width: 30vw
        @media (max-width: $stad-1)
            width: 100vw
            height: 100vh
            background: white
            transform: translateX(0)            
    
    .content
        margin: 0 auto
        padding: 0 5vw        
        width: 80vw
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        flex-direction: column
        
        @media (max-width: $stad-1)
            width: 100vw
        @media (max-width: $stad-mob)
            width: 100vw
            padding: 0 5vw
        &-menu
            width: 100%
        .filter_block
            width: 100%
            display: flex
            justify-content: right
            margin-top: 20px
            @media (max-width: $stad-mob)
                font-size: 12px
            span
                flex-grow: 3
            button
                max-height: 30px
                padding: 5px 5px
                flex-grow: 1
                @media (max-width: $stad-mob)
                    font-size: 12px
            .input-filter
                max-height: 30px
                flex-grow: 1
                padding-left: 5px
                @media (max-width: $stad-mob)
                    width: 50%
        h2
            margin-top: 30px
        &-wrapper
            margin-top: 10px
            overflow: hidden
        .open-form
            margin: 15px
            display: block
            padding: 1rem 5rem
            cursor: pointer
        .total-count
            margin: 15px 15px 60px 15px
            display: block
            padding: 1rem 5rem
            cursor: pointer
        &-list
            width: 100%
            transition: .5s
            &-active
                overflow: hidden
            &-item
                display: flex
                flex-direction: column         
                padding-bottom: 10px
                overflow: hidden
                cursor: pointer
                .bg_gurman
                    background-color: #84d6a4
                .bg_classic
                    background-color: #f5a9ff
                .bg_autumn
                    background-color: #d0d4a4
                .bg_fish
                    background-color: #9ebbf0
                &-description
                    width: 100%
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    background-color: #b4bb8d
                    padding: 5px 15px 5px 15px
                    border: 1px solid #3b3b20
                    .num-day
                        flex-grow: 1
                    .check
                        margin-left: 10px
                    .open-btn
                        display: block
                        width: 25px
                        height: 100%
                        cursor: pointer
                &-more
                    display: flex
                    overflow: hidden
                    overflow-y: scroll
                    max-height: 0px
                    padding: 0px 15px 0px 15px
                    background-color: #e2f3c1
                    border-left: 1px solid black
                    border-bottom: 1px solid black
                    border-right: 1px solid black
                    transition: 0.5s
                    @media (max-width: $stad-1)
                        flex-direction: column
                        overflow-y: scroll
                        align-items: center
                    @media (max-width: $stad-mob)
                        overflow-x: hidden                    
                                    
                    .menu-img
                        img
                            height: 400px
                            display: block
                        margin: 20px 0px
                    .menu-list
                        padding-left: 10px
                        flex-grow: 1
                        margin-top: 20px
                        @media (max-width: $stad-1)
                            position: static
                        @media (max-width: $stad-mob)
                            position: static
                    .recept
                        margin-top: 20px
                        width: 40%
                        @media (max-width: $stad-1)
                            width: 100%
                .open
                      
                    max-height: 440px         
    
        

.menu_day
    margin: 20px 0 20px 0
    width: 30%
    list-style: none
    .list-item
        padding: 5px 5px
        box-sizing: border-box
        border: 1px solid black
        margin: 2px 2px



.new-menu
    position: fixed
    height: 100vh
    width: 50vw
    right: 0
    top: 0
    background-color: pink
    transform: translateX(100%)
    transition: 0.5s
    transition-timing-function: ease
    border: 1px solid #801e62
    overflow-x: hidden
    overflow-y: scroll
    @media ( max-width: $stad-1 )
        width: 70vw        
    @media (max-width: $stad-mob)
        width: 100vw
    &-form
        width: 70%
        margin: 50px auto 0 auto
        display: flex
        flex-direction: column
        .closeBtn
            width: 50px
            height: 50px
            .fas
                display: block
                width: 100%
                height: 100%
                cursor: pointer
        &-menus
            display: flex
            flex-direction: column
    &-block
        padding-top: 20px
        transform: translateX(200%)
        transition: 0.5s
        width: 100%
        display: flex
        flex-direction: column
    &-add-item
        margin-top: 10px
        cursor: pointer
        height: 40px
    &-add-menu
        margin-top: 10px
        height: 20px
        cursor: pointer
        margin-bottom: 120px
    .select
        transform: translateX(0%)    
    &-list
        width: 100%
        display: flex
        flex-direction: column
        &-day
            display: flex
            justify-content: space-between
        &-dayName
            display: flex
            justify-content: space-between
            .dayName
                width: 50%
        &-weak
            margin-bottom: 20px
            display: flex
            justify-content: space-between
            .weak
                width: 50%
        &-item
            display: flex            
            justify-content: space-between
            width: 100%                
            margin: 5px 0 2px 0
        &-select
            max-height: 30px
            width: 50px
        &-remove
            max-height: 30px
            width: 30px
            cursor: pointer
            &:hover
                background-color: #832020
        &-recept
            max-width: 100%
            min-width: 100%
            height: 200px
        &-input
            max-height: 30px
            width: 20%
        .new-menu-box
            display: flex            
            width: 60%    
            &-list
                width: 100%
                max-height: 200px                
                // position: relative
                &-item
                    padding-top: 3px
                    background-color: #FFF
                    border: 1px solid black
                    min-height: 30px
                    text-align: center
                    cursor: pointer
                    @media ( max-width: $stad-mob )
                        font-size: 14px                        
                    &:hover
                        background-color: #acabab
            .overflow
                overflow-y: scroll
        .btn-box-menu
            max-height: 30px
            width: 30px
            .fas
                width: 100%
                height: 100%
                cursor: pointer
.filter_block
    display: flex      
    
